<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WELCOME TO JOE'S PIZZA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>HERE ARE SOME OF OUR RECIPES</h3>
  <div class="row">
    <div class="row">
      <% for p in @pizzas do %>
        <div class="col-md-4">
          <%= image_tag p.picture.attached? ? p.picture : "", class: "img img-responsive" %>
          <p><%= p.name %></p>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="images/napolitana.jpg" alt="Pizza peperoni" width="500" height="600">
      </div>
      <button class="btn btn-success pull-right" id="add_to_order ">Add pizza to order</button>
    </div>
  </div>
</div>

</body>
</html>